<div class="ui five column grid relaxed" [dragula]='"bag-one"'>
  <div class="column ">
    <div class=testBox>1</div>
  </div>

  <div class="column ">
    <div class=testBox>2</div>
  </div>

  <div class="column ">
    <div class=testBox>3</div>
  </div>

  <div class="column ">
    <div class=testBox>4</div>
  </div>

  <div class="column ">
    <div class=testBox>5</div>
  </div>
  
  <div class="column ">
    <div class=testBox>6</div>
  </div>

  <div class="column ">
    <div class=testBox>7</div>
  </div>

  <div class="column ">
    <div class=testBox>8</div>
  </div>

  <div class="column ">
    <div class=testBox>9</div>
  </div>

</div>