
#pageDiv {
    height: calc( 100vh - 200px);
}


.iconDiv {
    text-align: center;
    align-items: center;
    /*background-color: rgba(0,0,0,0.2);*/
    min-width: 150px;
    height: calc( (100vh - 200px)*0.28 );
    min-height: 150px;
}

.defaultIconDiv {
    cursor: pointer;
    min-height: 100px;
}

.bordered {
    background-color: rgba(0,0,0,0.2);
    border-radius: 20px;
    border: none !important;
}

.mainIconContainer {
    position: fixed;
    top: 0;
    margin-top: 100px !important;
    max-height: calc( 100vh - 200px);

    width: 90vw;
    margin-left: 5vw;
    margin-right:5vw;
    min-width: 350px;
    overflow-y: hidden;
    overflow-x: hidden;

    color:white;
    
    /*background-color: rgba(0,0,0,0.5);*/
}

.hide {
    display: none !important;
}

[hidden] { 
    display: none !important; 
    max-height: 0px;
}

/*.icon {
    display:block;
    margin: 0 auto;
    width: 40%;
    box-shadow: 2px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 2px 2px rgba(0,0,0,0.3); 
    -o-box-shadow: 2px 2px rgba(0,0,0,0.3);
    /*border-radius:100px;
}*/

.iconText {
    display:inline-block;
    margin: 10px auto;
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
}

#addIconTriggerBtn {
    position: fixed;
    right:50px;
    bottom:50px;
}




.iconImageDiv {
    height:80px;
    line-height: 80px;
    vertical-align: middle;
}

.noIconImageDiv {
    height:80px;
    width: 80px;
    line-height: 80px;
    vertical-align: middle;
    display: block;
    margin:0 auto;


}

.noImageIcon {
    height:70px;
    width:70px;
    line-height: 70px;
    vertical-align: middle;
    color:white;
    border-radius: 1000px;
    margin:0 auto;
    display:inline-block;
    word-wrap: break-word;
}

.newIconForm {
    margin-left:20px;
    display: block;
}

.dot {
    position: relative;
    background-color:white;
    border-radius: 9999px;
    width: 13px;
    height:13px;
    display:inline-block;
    margin-left: 10px;
    box-shadow: 1px 1px 1px #999999;
    cursor: pointer; 
}

.dotPlate {
    align-items: center;
    position: relative;
    position: fixed;
    bottom:100px;
    width:100vw;
    align-items: center;
    text-align: center;
}

.dotFade {
    opacity: 0.4;
}


