<div class="navMenu">

  <i class="fa fa-star favBtn" aria-hidden="true" (click)="triggerFavPanel()"></i>
  <i class="fa fa-home" aria-hidden="true" (click)="this.gcRouter.navigateTo('home')"></i>
  <i class="fa fa-windows" aria-hidden="true" (click)="this.gcRouter.navigateTo('applications')"></i>
  <i class="fa fa-dot-circle-o" aria-hidden="true" (click)="this.gcRouter.navigateTo('focus')"></i>
  <i class="fa fa-cog" aria-hidden="true" (click)="this.gcRouter.navigateTo('setting')"></i>

</div>

<div id="favSideMenu" class="ui sidebar menu vertical wide">
  <div class="item sidebarTitle">
    Bookmark
  </div>

  <a class="item">
    My Link 1
  </a>
  <a class="item">
    My Link 2
  </a>
  <a class="item">
    NO NO GAY BLUE
  </a>
</div>

<div class="pusher">
</div>
  