<div class="navMenu">

  <i class="fa fa-star favBtn" aria-hidden="true" (click)="triggerFavPanel()"></i>
  
  <a [routerLink]="['/home']">
    <i class="fa fa-home" aria-hidden="true"></i>
  </a>
  
  <a [routerLink]="['/apps']">
    <i class="fa fa-windows" aria-hidden="true"></i>
  </a>
  
  <a [routerLink]="['/focus']">
    <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
  </a>

  <a [routerLink]="['/setting']">
    <i class="fa fa-cog" aria-hidden="true"></i>
  </a>
</div>

<div class="ui sidebar menu vertical wide">
  <div class="item sidebarTitle">
    Bookmark
  </div>

  <a class="item">
    My Link 1
  </a>
  <a class="item">
    My Link 2
  </a>
  <a class="item">
    NO NO GAY BLUE
  </a>
</div>

<div class="pusher">
</div>
  