<div class="navMenu">

  <i id="chromePages" class="fa fa-chrome"></i>
  <i class="fa fa-home" (click)="this.gcRouter.navigateTo('home')"></i>
  <i class="fa fa-dot-circle-o" (click)="this.gcRouter.navigateTo('focus')"></i>
  <i class="fa fa-cog" (click)="this.gcRouter.navigateTo('setting')"></i>
</div>

<div id="pop1" class="ui flowing popup top left transition hidden">
  <div class="ui one column divided center aligned grid xx">
    <div class="column">
      <h4 class="ui header">Bookmark</h4>
      <div class="ui button yellow" (click)="openBookMark()"><i class="fa fa-star"></i></div>
      
    </div>
    <div class="column">
      <h4 class="ui header">Chrome App</h4>
      <div class="ui button red" (click)="openAppsPage()"><i class="fa fa-google"></i></div>
    </div>

    <div class="column">
      <h4 class="ui header">Chrome Setting</h4>
      <div class="ui button blue" (click)="openChromeSetting()"><i class="fa fa-cog"></i></div>
    </div>
  </div>
</div>


