
#mainDiv {

}

.settingPanel {
    width:50vw;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 15px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
}

.settingTitlePanel {
    background-color: rgba(0,0,0,0.7) !important;
}


.wallpaperPanel {
    border-radius: 10px;
    height:60vh;
    width:50vw;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 0;

    background-color: rgba(0,0,0,0.6);
    overflow-y: scroll;
    opacity: 0.6;
}

.wallpaperPanel:hover {
    opacity: 1;
}

.thumb {
    width:100%;
    border-radius: 15px;
}

.imageUrlForm {
    width: 100%;
    opacity: 0.8;
    padding:10px 20px 20px 20px;
}

.imageUrlForm > form > input {
    outline: none;
}

.content, .ui .styled .accordion {
    /*background-color: rgba(0,0,0,0);*/
}

.titleLabel {
    padding: 0px 0px 0px 20px;
    color: rgba(255,255,255,.9);
    font-size: 1.4em;
    font-weight: 700;
    text-transform: none;
    text-align: center;

}

.textareaLabel {
    padding: 10px 10px 10px 0px;
    color: rgba(255,255,255,.9) !important;
    font-size: 1.4em;
    font-weight: 700;
    text-transform: none;
}

.updateButton {
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
}

.updateBtn {
    align-items: right;
    text-align: right;
}

.settingButton {
    padding: 10px 10px 10px 20px;
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
}

.showVideoToggle {
    padding: 10px 10px 10px 20px;
    color: rgba(255,255,255,.9);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
}
.showVideoToggle label, {
    color: rgba(255,255,255,.9);
}
.ui.toggle.checkbox.showVideoToggle input:checked ~ .box, .ui.toggle.checkbox.showVideoToggle input:checked ~ label{
    color: rgba(255,255,255,.9) !important;
}
.ui.toggle.checkbox.showVideoToggle .box, .ui.toggle.checkbox.showVideoToggle label{
    color: rgba(255,255,255,.9) !important;
}