
<div id="mainDiv">

<div id="settingPanel">
<div id="imageUrlForm" class="ui form inverted">
  <div class="field" >
    <label>Background Image URL</label>
    <!-- <input type="text" placeholder="Image Url" maxlength="" [(ngModel)]="newIconTitle"> -->


    <div class="ui action input left icon" [ngClass]="{ loading : imageLoading }">
      <input type="text" placeholder="Image Url..." [(ngModel)]="customizedImage">
      <i class="search icon"></i>
      <button class="ui button" (click)="applyCustomizedImage()">Apply</button>
    </div>
  </div>
</div>
</div>

<div id="wallpaperPanel" class="ui five column grid">
    <div id="wallpaper{{i}}" class="column"  *ngFor="let x of Arr(40).fill(0); let i = index">
        <img class="thumb"  src = "../../../assets/wallpaper/wallpaper{{i}}.jpg" (click)="setWallpaper(i)">
    </div>
</div>
</div>