<div id="mainDiv">
  <div class="ui accordion">
    <div class="title settingPanel settingTitlePanel active">
      <p class="titleLabel">Background Image</p>
    </div>
    <div class="content active">
      <div class="settingPanel">
        <div class="imageUrlForm ui form inverted">
          <div class="field" >
            <label>Background Image URL</label>


            <div class="ui action input left icon" [ngClass]="{ loading : imageLoading }">
              <input type="text" placeholder="Image Url..." [(ngModel)]="customizedImage">
              <i class="search icon"></i>
              <button class="ui button" (click)="applyCustomizedImage()">Apply</button>
            </div>
          </div>
        </div>
      </div>

      <div class="wallpaperPanel ui five column grid">
          <div id="wallpaper{{i}}" class="column"  *ngFor="let i of Arr;">
              <img class="thumb"  src = "../../../assets/wallpaper/wallpaper{{i}}.jpg" (click)="setWallpaper(i)">
          </div>
      </div>
    </div>

    <div class="title settingPanel settingTitlePanel">
      <p class="titleLabel">Background Video</p>
    </div>
    <div class="content">
      <div class="settingPanel">
        <div class="ui toggle checkbox showVideoToggle">
          <input type="checkbox" tabindex="0" [(ngModel)]="showVideo" (ngModelChange)="applyShowVideo()">
          <label>Show Background Video</label>
        </div>
      </div>
      <div class="settingPanel" *ngIf="showVideo">
        <div class="imageUrlForm ui form inverted">
          <div class="field" >
            <label>Youtube Video URL</label>


            <div class="ui action input left icon" [ngClass]="{ loading : videoLoading }">
              <input type="text" placeholder="Video Url..." [(ngModel)]="customizedVideo">
              <i class="search icon"></i>
              <button class="ui button" (click)="applyCustomizedVideo()">Apply</button>
            </div>
          </div>
        </div>
      </div>
      <div class="wallpaperPanel ui five column grid" *ngIf="showVideo">
        <div class="column" *ngFor="let videoId of videoIdArray;">
          <img class="thumb" [src]="getVideoImageUrl(videoId)" (click)="setDefaultVideo(videoId)">
        </div>
      </div>
    </div>

    <div class="title settingPanel settingTitlePanel">
      <p class="titleLabel">Setting</p>
    </div>
    <div class="content">
      <div class="settingPanel settingButton">
        <button class="ui labeled icon button green" (click)="downloadSetting()">
          <i class="download icon"></i>
          Export Settings
        </button>
        <button class="ui labeled icon button yellow" (click)="uploadSetting()">
          <i class="upload icon"></i>
          Import Settings
        </button>
        <br />
        <div class="ui toggle checkbox showVideoToggle">
          <input type="checkbox" tabindex="0" [(ngModel)]="loadFocus" (ngModelChange)="setLoadFocus()">
          <label>Use Foucs Page as Primary Page <b>(Experimental)</b></label>
        </div>



        <div class="ui form" *ngIf="uploadSettingArea">
          <div class="field">
            <label class="textareaLabel">Paste Your Settings</label>
            <textarea [(ngModel)]="userSetting"></textarea>
            <div class="updateBtn" (click)="updateSetting()">
              <button class="ui button updateButton">
                Update
              </button>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>

