.focusDiv {
	color: white; 
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
}

.focusDiv h1{
	font-size:80px;
	font-weight: normal;
    text-shadow: 2px 2px 5px #595959;
    text-align: center;
}
.focusDiv h2{
	font-size:40px;
	font-weight: normal;
    text-shadow: 2px 2px 5px #595959;
    text-align: center;
}

.searchBarContainer {
    margin-top: 50px !important;
    width: 50vw;
}

.searchBarInput input{
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(255,255,255,1);
    border-radius: 10px;
}

.searchIcon{
    z-index: 1000;
    border-radius: 0 10px 10px 0 !important;
    background-color: rgba(255,255,255,1) !important;
}

.searchIcon:hover{
    cursor: pointer;
}


.fullscreen-bg {
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video iframe {

    box-sizing: border-box;
    height: 56.25vw;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    width: 177.77777778vh;

    pointer-events: none;
}

@media (max-width: 767px) {

    .fullscreen-bg__video {
        display: none;
    }
}

.nav-icon {
    display: inline;
}