<div class="ui container">
    <div class="focusDiv">
        <h1>
          {{[time]}}
        </h1>
        <h2>
          {{[date]}}
        </h2>
    </div>
</div>

<!-- <div class="fullscreen-bg">
    <video loop muted autoplay class="fullscreen-bg__video" src="../../../assets/defaultVideo.mov">
    </video>
</div> -->
<!-- <div class="video-background">
    <div class="video-foreground">
        <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
    </div>
</div> -->
<div class="fullscreen-bg">
    <div class="fullscreen-bg__video">
        <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?autoplay=1&loop=1&rel=0&controls=0&showinfo=0&playlist=W0LHTWG-UmQ&version=3" frameborder="0" allowfullscreen></iframe>
    </div>
</div>