<div class="ui container">
    <div class="ui container searchBarContainer" *ngIf="showSearchBar">
        <form (ngSubmit)="search()" class="ui fluid action input searchBarInput">
            <input type="text" placeholder="Search" [(ngModel)]="searchQuery" name="search">
            <button class="ui icon button searchIcon">
                <i class="search icon"></i>
            </button>
        </form>
    </div>
    <div class="focusDiv">
        <h1>
          {{[time]}}
        </h1>
        <h2>
          {{[date]}}
        </h2>
    </div>
</div>

<!-- <div class="fullscreen-bg">
    <video loop muted autoplay class="fullscreen-bg__video" src="../../../assets/defaultVideo.mov">
    </video>
</div> -->
<!-- <div class="video-background">
    <div class="video-foreground">
        <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
    </div>
</div> -->
<div class="fullscreen-bg" *ngIf="showVideo">
    <div class="fullscreen-bg__video">
        <iframe [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<!--
https://www.youtube.com/watch?v=QH2-TGUlwu4
W0LHTWG-UmQ
-->